.right_pan
{
  display: inline-grid;
  grid-template-columns: 20px auto;
  background-color: aliceblue;
  width: 0%;
  height: 700px;
  position: fixed;
  right: 0;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: 0.8s;
}
.oc_tag
{
  background-color: #024A86;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}
.slide_img
{
  width: 20px;
  top: 50%;
  position: absolute;
  left: 0px;
}
.r_tit
{
  border-bottom: solid 2px #FB8B23;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.pag_links
{
  text-decoration: none;
  color: #024A86;
  font-size: 18px;
}
.tch_hideable-2
{
  position: fixed;
  width: 20px;
  right: 0;
  background-color: #024A86;
  height: 700px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}
.r
{
  transform: rotate(180deg);
}
